<%- include('../partials/header.ejs')%>
<div class = "content">

    <form method = "POST" action = "/listings/<%= listing.id%>?_method=PUT" class="new-form">
        
        <label for="condition">Condition:</label>
            <select id="condition" name="condition">
              <option value=""></option>   
              <option value="New"
              <% if(listing.condition === "New"){%>
                selected <% } %>>New</option>

              <option value ="LikeNew"
              <% if(listing.condition === "LikeNew"){%>
                selected <% } %>>Like New</option>\

              <option value ="Good"
              <% if(listing.condition === "Good"){%>
              selected <% } %>>Good</option>

              <option value ="Fair"
              <% if(listing.condition === "Fair"){%>
              selected <% } %>>Fair</option>

              <option value ="Poor"
              <% if(listing.condition === "Poor"){%>
              selected <% } %>>Poor</option>
            </select>
        
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value = "<%= listing.title%>" required>
        
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" value = <%= listing.price%> min="0" step="0.01" required>
        
            <label for="details">Details:</label>
            <input type="text" textarea id="details" name="details" value = "<%= listing.details%>"" rows="4" required></textarea>
        
            <label for="image">Current Image:</label>
            <img src = <%= listing.image%>>
            <input type="file" id="image" name="image" value = <%= listing.image%> accept="image/*" required>
        
            <button type="submit">Submit</button> 
      
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>